body {
    margin: 0;
    padding: 0;
  
}

h1{
    text-align: center;
}

img{
    width: 25rem;
    height: 25rem;
}

.container {
    flex-wrap: wrap;
    justify-content: space-around;  
}

.cotainerCard{
    columns: 3;
    
}

.Artes {
    border: 1px solid rgb(146, 146, 146);
    height: auto;
    line-break: anywhere;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden; /* Adiciona overflow:hidden para cortar o texto se necessário */
    white-space: nowrap; /* Impede que o texto seja quebrado em várias linhas */
    text-overflow: ellipsis;
    transition: transform 0.3s;


    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

a{
    text-decoration: none;
    color:rgb(32, 32, 32);
   
    
}

