@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    margin: 0;
    padding: 0;
  
}

h1{
    text-align: center;
    font-family: 'Lora', serif;
}

img{
    width: 25rem;
    height: 25rem;
}

.container {
    flex-wrap: wrap;
    justify-content: space-around;  
}

.cotainerCard{
    columns: 3;
    
}

.Artes {
    border: 1px solid rgb(146, 146, 146);
    height: auto;
    line-break: anywhere;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    transition: transform 0.3s;


    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
}

a{
    text-decoration: none;
    color:rgb(32, 32, 32);
   
    
}
.buttonPage{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.ButtonNP{
    background-color: rgb(194, 80, 80);
    color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;    
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 130px;
    height: 45px;
}

.ButtonNP:hover{
    background-color: rgb(168, 50, 50);
}



